# Caches and Bytecode
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/
env/

# Environment Variables & Secrets
.env

# Databases & Logs
*.log
uvicorn.log
data/*.db
data/*.db-journal

# IDEs & System
.idea/
.vscode/
.DS_Store

# Testing
.pytest_cache/
