{% extends "layouts/landing.html" %}

{% block title %}Securithon Lab | Architectural Cyber-Simulator{% endblock %}

{% block content %}
    {% include "components/landing/hero.html" %}
    {% include "components/landing/intel.html" %}
    {% include "components/landing/scenarios.html" %}
    {% include "components/landing/how_it_works.html" %}
    {% include "components/landing/platform.html" %}
    {% include "components/landing/plans.html" %}
    {% include "components/landing/enlistment.html" %}
{% endblock %}

{% block extra_scripts %}
    <script type="module" src="{{ url_static('js/pages/index.js') }}?v={{ range(1, 10000) | random }}"></script>
{% endblock %}
